 
/* header */

.titulo {
    position: relative;
    color: orangered;
    text-transform: uppercase;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    font-size: 40px;
    right: 200px;
    top: 10px;
}

header #pesquisa {
    border-radius: 10px;
    height: 30px;
}

.titulo:hover {
    color: white
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: rgb(12, 138, 241);
    margin: -10px;
    color:white;
    width: 102%;
    
}

a label {
    cursor: pointer;
}

#header2 {
    background-color: orangered;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:white;
    margin:auto;
    margin-top: 20px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

#header2 label{
    cursor: pointer;
}


/* main */

main{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
    position: relative;
    overflow-y: auto;
}

.pag {
    text-align: left;
}

#pant {
    font-size: 15px;
}

#patu {
    color:orangered;
    font-size: 50px;
    margin-top: -20px;
}

#pix {
    margin-top: -55px;
}

#comprar{
    color: rgb(255, 255, 255);
    background-color: orangered;
    border-radius: 5%;
    padding: 50px 100px;
    font-size: 50px;
    margin-top: -70px;
    margin-left: 20px;
    cursor: pointer;
}

#comprar:hover {
    background-color: rgb(12, 138, 241);
    transition: background-color .15s, font-size .15s;
    font-size: 60px;
  }

#okcep{
    cursor: pointer;
}  

#nocep{
    cursor: pointer;
}  

html {
    background-color: rgb(255, 255, 255);
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}
